{% if value.type == "video" %}
<div class="media-block media-block--video">
    <div class="media-block__wrapper">
        <video width="320" height="240" controls>
            {% for source in value.sources %}
            <source src="{{ source.src }}" type="{{ source.type }}">
            {% endfor %}
            Your browser does not support the video tag.
        </video>
    </div>
</div>
{% else %}
<div class="media-block media-block--audio">
    <div class="media-block__wrapper">
        <audio controls>
            {% for source in value.sources %}
            <source src="{{ source.src }}" type="{{ source.type }}">
            {% endfor %}
            Your browser does not support the audio element.
        </audio>
    </div>
</div>
{% endif %}