{% load static wagtailuserbar %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load custom_template_tags %}
{% setvar settings.site_settings.SiteSettings as site_settings %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Favicon #}
        {% include "global_templates/favicon.html" with icon=site_settings.favicon color=site_settings.theme_color %}

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/project_name.css' %}">

        {# GoogleMaps #}
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="body {% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        <div class="map">
            {{ site_settings.map_embed|richtext }}
        </div>
        {% block content %}{% endblock %}
        {{ site_settings.company_name }}
        {{ site_settings.description }}
        {{ site_settings.tagline }}
        {% image site_settings.logo max-280x280 as logo %}
        <img src="{{ logo.url }}" alt="">
        {{ site_settings.site_copyright }}
        В шапке:
        {% include "global_templates/phones.html" with phones=site_settings.header_phones.all class="phones-1" %}
        {% include "global_templates/adresses.html" with adresses=site_settings.header_adresses.all class="adresses-1" %}
        {% include "global_templates/socials.html" with socials=site_settings.header_socials.all class="socials-1"%}
        {% include "global_templates/emails.html" with emails=site_settings.header_emails.all class="emails-1"%}
        В подвале:
        {% include "global_templates/phones.html" with phones=site_settings.footer_phones.all class="phones-2" %}
        {% include "global_templates/adresses.html" with adresses=site_settings.footer_adresses.all class="adresses-2" %}
        {% include "global_templates/socials.html" with socials=site_settings.footer_socials.all class="socials-2"%}
        {% include "global_templates/emails.html" with emails=site_settings.footer_emails.all class="emails-2"%}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/project_name.js' %}"></script>
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
