{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load static %}

{% block body_class %}body--text-page{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/inner_page.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/swiper-bundle.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/streams.css' %}">
{% endblock extra_css %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/inner_page.js' %}"></script>
<script type="text/javascript" src="{% static 'js/streams.js' %}"></script>
<script type="text/javascript" src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fslightbox.js' %}"></script>
{% endblock extra_js %}

{% block content %}

<div class="container">
    {% for block in page.content %}
        {% if block.block_type != "table" %}
            {% include_block block %}
        {% else %}
            <div class="table-block">
                <div class="table-block__wrapper">
                    {% include_block block %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock content %}